---
---

@tailwind base;
@tailwind components;
@font-face {
    font-family: "vdm";
    src: url("./fonts/OpenSans-Regular.ttf");
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}
@tailwind utilities;

@layer base {
    a {
        @apply text-red;
        @apply cursor-pointer
    }

    .imprint h1 {
        @apply text-2xl;
    }

    .imprint h2 {
        @apply text-xl;
    }

    .imprint table {
        @apply table-fixed;
    }

    .imprint table td:first-child {
        width: 2rem;
    }

    .imprint table td {
        width: 8rem;
    }

    .imprint strong {
        @apply mb-3;
        display: inline-block;
    }

    .imprint ul {
        list-style: inside;
        @apply ml-3;
    }
}
/*
$PADDING: 0.875rem;

.site-header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.page-content {
    a {
      color: $COLOR_RED;

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $COLOR_RED;
        text-decoration: none;
      }
    }
  }
}

.site-content {
  --HEADER-HEIGHT: 3rem;
  @include isIPhoneX() {
    --HEADER-HEIGHT: 6rem;
  }

  height: calc(100vh - var(--HEADER-HEIGHT));
  min-height: calc(100vh - var(--HEADER-HEIGHT));
  max-height: calc(100vh - var(--HEADER-HEIGHT));

  @include isIPhoneX() {
    min-height: 100%;
    max-height: 100%;
  }

  &.team {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-height: 100%;
    max-height: 100%;

    .member {
      flex-direction: column;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      margin-top: calc(var(--HEADER-HEIGHT) + 10px);

      h1 {
        display: flex;
        margin: 0;
        color: $COLOR_RED;
        font-size: 1.75rem;
        text-align: center;
      }
    }

    .avatar {
      margin-top: $PADDING;
      margin-bottom: $PADDING;
      display: flex;
      flex-direction: column;

      img {
        vertical-align: middle;
        border-style: none;
        border-radius: 125px;
        width: 250px;
        max-width: 250px;
        margin: auto;
        @include shadow(5px, 5px, 20px, 1px, $COLOR_GRAY);
      }
    }

    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;

      h3 {
        font-size: 24px;
        margin: 0;
        font-weight: bold;
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0.625rem 0 0;
        padding: 0;

        li {
          color: $COLOR_GRAY_DARK;
          font-weight: 600;
          font-size: 1.25rem;
          letter-spacing: 1px;
          text-align: center;
          margin-top: 3px;
          margin-bottom: 3px;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          em {
            color: $COLOR_RED;
            font-size: 0.875rem;
            letter-spacing: 0;
          }

          strong {
            font-size: 14px;
            letter-spacing: 0;
          }
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: $PADDING;
      margin-bottom: $PADDING;

      .main-role {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        color: $COLOR_BLACK;
        font-weight: 900;
        letter-spacing: 2px;
      }

      .role {
        margin: 0;
        text-align: center;
        font-size: 1.25rem;
        color: $COLOR_BLACK;
        font-weight: 900;
        letter-spacing: 5px;
      }

      .experience {
        width: 70%;
        color: $COLOR_GRAY_DARK;
        letter-spacing: -1px;
        text-align: center;
        font-size: 1.25rem;
      }

      aside {
        font-family: 'fontello';
        margin-top: $PADDING;
        margin-bottom: $PADDING;
        display: flex;
        flex-direction: row;
        width: 60%;

        @media screen and (max-width: 768px) {
          width: 80%;
        }

        ul {
          flex: 1;
          display: flex;
          flex-direction: row;
          list-style: none;
          margin: 0;
          padding: 0;
          align-items: center;
          justify-content: space-between;
        }

        a {
          color: $COLOR_RED;
          font-size: 2.5rem;

          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }

          &:link,
          &:visited,
          &:hover,
          &:active {
            color: $COLOR_RED;
            text-decoration: none;
          }

          &.home:after {
            content: '\E800';
          }

          &.linkedin:after {
            content: '\F0E1';
          }

          &.articles:after {
            content: '\F15C';
          }

          &.github:after {
            content: '\F09B';
          }

          &.trainings:after {
            content: '\F19D';
          }

          &.twitter:after {
            content: '\F099';
          }

          &.linktree:after {
            content: '\F1BB';
          }
        }
      }

      .description {
        font-size: 1rem;
        color: $COLOR_GRAY_LIGHT;
        text-shadow: $COLOR_GRAY_DARK 1px 1px;
        line-height: 1.25rem;
        margin-top: $PADDING;
        margin-bottom: $PADDING;
        text-align: center;
      }

      .contact {
        color: $COLOR_RED;
        font-size: 1.5rem;
        letter-spacing: 0;
        margin-top: $PADDING;
        margin-bottom: $PADDING;

        a {
          &:link,
          &:visited,
          &:hover,
          &:active {
            color: $COLOR_RED;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
*/
