---
---

@import 'fonts';
@import 'methods';
@import 'properties';

$PADDING: 0.875rem;

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 16px;
  font-family: 'vdmFont', open-sans, sans-serif;
  font-weight: normal;
  background-color: $COLOR_WHITE;
}

.site-header {
  border: none;
  display: flex;
  flex: 1;
  background-color: $COLOR_GRAY_LIGHT;
  align-items: center;
  justify-content: flex-end;
  line-height: 3rem;
  @include shadow(0px, 0px, 20px, 10px, $COLOR_GRAY_LIGHT);
  @include isIPhoneX() {
    line-height: 2rem;
  }
  position: fixed;
  top: 0;
  width: 100vw;

  ul {
    font-size: 1.125rem;
    list-style: none;
    padding: 0;
    margin: 0;

    @include isIPhoneX() {
      font-size: 0.75rem;
    }
  }

  .site-nav {
    padding: 0 $PADDING;
  }
}

a {
  color: $COLOR_RED;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $COLOR_RED;
    text-decoration: none;
  }
}

.page-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: $COLOR_WHITE;

  &.imprint {
    font-size: 0.75rem;
    height: 100%;
    min-height: 100vh;
    font-family: 'vdmFont', open-sans, sans-serif;
    font-weight: normal;
    flex-direction: column;

    h1,
    h2 {
      padding: 0;
      margin: 0;
    }

    p {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 0.85rem;
        line-height: 1.25rem;
      }
    }

    table {
      margin-top: $PADDING;
      margin-bottom: $PADDING;
    }

    a {
      color: $COLOR_RED;

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $COLOR_RED;
        text-decoration: none;
      }
    }
  }
}

.site-content {
  --HEADER-HEIGHT: 3rem;
  @include isIPhoneX() {
    --HEADER-HEIGHT: 6rem;
  }

  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh - var(--HEADER-HEIGHT));
  min-height: calc(100vh - var(--HEADER-HEIGHT));
  max-height: calc(100vh - var(--HEADER-HEIGHT));
  justify-content: center;
  align-items: center;
  text-align: center;

  @include isIPhoneX() {
    min-height: 100%;
    max-height: 100%;
  }

  .site-content-top {
    img {
      max-width: 90%;
      max-height: 100%;
    }
  }

  .site-content-bottom {
    p {
      &.quote {
        flex-wrap: wrap;
        word-break: break-word;
        margin: 0;
        padding: 0;
        color: $COLOR_RED;
        font-size: 1.5rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.7rem;
        width: 100%;
        display: inline-block;

        &.hidden {
          display: none;
        }

        @include isIPhoneX() {
          width: 80%;
        }
      }
    }
  }

  &.team {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-height: 100%;
    max-height: 100%;

    .member {
      flex-direction: column;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      margin-top: calc(var(--HEADER-HEIGHT) + 10px);

      h1 {
        display: flex;
        margin: 0;
        color: $COLOR_RED;
        font-size: 1.75rem;
        text-align: center;
      }
    }

    .avatar {
      margin-top: $PADDING;
      margin-bottom: $PADDING;
      display: flex;
      flex-direction: column;

      img {
        vertical-align: middle;
        border-style: none;
        border-radius: 125px;
        width: 250px;
        max-width: 250px;
        margin: auto;
        @include shadow(5px, 5px, 20px, 1px, $COLOR_GRAY);
      }
    }

    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;

      h3 {
        font-size: 24px;
        margin: 0;
        font-weight: bold;
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0.625rem 0 0;
        padding: 0;

        li {
          color: $COLOR_GRAY_DARK;
          font-weight: 600;
          font-size: 1.25rem;
          letter-spacing: 1px;
          text-align: center;
          margin-top: 3px;
          margin-bottom: 3px;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          em {
            color: $COLOR_RED;
            font-size: 0.875rem;
            letter-spacing: 0;
          }

          strong {
            font-size: 14px;
            letter-spacing: 0;
          }
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: $PADDING;
      margin-bottom: $PADDING;

      .main-role {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        color: $COLOR_BLACK;
        font-weight: 900;
        letter-spacing: 2px;
      }

      .role {
        margin: 0;
        text-align: center;
        font-size: 1.25rem;
        color: $COLOR_BLACK;
        font-weight: 900;
        letter-spacing: 5px;
      }

      .experience {
        width: 70%;
        color: $COLOR_GRAY_DARK;
        letter-spacing: -1px;
        text-align: center;
        font-size: 1.25rem;
      }

      aside {
        font-family: 'fontello';
        margin-top: $PADDING;
        margin-bottom: $PADDING;
        display: flex;
        flex-direction: row;
        width: 60%;

        @media screen and (max-width: 768px) {
          width: 80%;
        }

        ul {
          flex: 1;
          display: flex;
          flex-direction: row;
          list-style: none;
          margin: 0;
          padding: 0;
          align-items: center;
          justify-content: space-between;
        }

        a {
          color: $COLOR_RED;
          font-size: 2.5rem;

          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }

          &:link,
          &:visited,
          &:hover,
          &:active {
            color: $COLOR_RED;
            text-decoration: none;
          }

          &.home:after {
            content: '\E800';
          }

          &.linkedin:after {
            content: '\F0E1';
          }

          &.articles:after {
            content: '\F15C';
          }

          &.github:after {
            content: '\F09B';
          }

          &.trainings:after {
            content: '\F19D';
          }

          &.twitter:after {
            content: '\F099';
          }

          &.linktree:after {
            content: '\F1BB';
          }
        }
      }

      .description {
        font-size: 1rem;
        color: $COLOR_GRAY_LIGHT;
        text-shadow: $COLOR_GRAY_DARK 1px 1px;
        line-height: 1.25rem;
        margin-top: $PADDING;
        margin-bottom: $PADDING;
        text-align: center;
      }

      .contact {
        color: $COLOR_RED;
        font-size: 1.5rem;
        letter-spacing: 0;
        margin-top: $PADDING;
        margin-bottom: $PADDING;

        a {
          &:link,
          &:visited,
          &:hover,
          &:active {
            color: $COLOR_RED;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
