@font-face {
  font-display: swap;
  font-family: 'vdmFont';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/fontello.ttf');
}
