---
layout: default
---

<div class="flex flex-col justify-center items-center sm:mx-6 mx-4 gap-2">
  <picture>
    <source
      srcset="
        assets/vandermeer.webp    1336w,
        assets/vandermeer@2x.webp 2674w,
        assets/vandermeer@3x.webp 4010w
      "
      type="image/webp"
    />
    <source
      srcset="
        assets/vandermeer.jp2    1336w,
        assets/vandermeer@2x.jp2 2674w,
        assets/vandermeer@3x.jp2 4010w
      "
      type="image/jp2"
    />
    <img
      src="/assets/vandermeer.png"
      srcset="
        /assets/vandermeer@3x.png 4010w,
        /assets/vandermeer@2x.png 2674w,
        /assets/vandermeer.png    1336w
      "
      title="{{page.siteTitle}}"
      alt="{{page.siteTitle}}"
      width='1336'
      height='202'
    />
  </picture>
  <section class="w-full flex flex-row justify-center text-center sm:text-3xl text-xl break-words flex-wrap text-red tracking-[3px] uppercase">
    <p class="quote animated heartBeat">
      Passionate implementer of ideas for mobile and web.
    </p>
    <p class="quote hidden animated rotateIn">
      TypeScript, React, Tailwind, REST or GraphQL are our technology stuff.
    </p>
    <p class="quote hidden animated tada">
      We believe in ideas but especially in turning them into reality.
    </p>
    <p class="quote hidden animated lightSpeedIn">
      We favor Pragmatic over dogmatic.
    </p>
    <p class="quote hidden animated flip">
      We favor Solutions over problems.
    </p>
  </section>
</div>

<script type="text/javascript" src="{{ "/assets/vandermeer.js" | relative_url }}" charset="utf-8"></script>
