---
layout: default
---

<div class="site-content">
  <div class="site-content-top">
    <picture>
      <source
        srcset="
          assets/vandermeer.webp    1x,
          assets/vandermeer@2x.webp 2x,
          assets/vandermeer@3x.webp 3x
        "
        type="image/webp"
      />
      <source
        srcset="
          assets/vandermeer.jp2    1x,
          assets/vandermeer@2x.jp2 2x,
          assets/vandermeer@3x.jp2 3x
        "
        type="image/jp2"
      />
      <img
        src="/assets/vandermeer.png"
        srcset="
          /assets/vandermeer@3x.png 3x,
          /assets/vandermeer@2x.png 2x,
          /assets/vandermeer.png    1x
        "
        title="vandermeer"
        alt="vandermeer"
      />
    </picture>
  </div>
  <div class="site-content-bottom">
    <p class="quote animated heartBeat">
      Passionate implementer of ideas for mobile and web.
    </p>
    <p class="quote hidden animated rotateIn">
      TypeScript, JavaScript, React-Native and React are our technology stuff.
    </p>
    <p class="quote hidden animated tada">
      We believe in ideas but especially in turning them into reality.
    </p>
    <p class="quote hidden animated lightSpeedIn">
      We favor Pragmatic over dogmatic.
    </p>
    <p class="quote hidden animated flip">
      We favor Solutions over problems.
    </p>
  </div>
</div>

<script type="text/javascript" src="{{ "/assets/vandermeer.js" | relative_url }}" charset="utf-8"></script>
