---
layout: default
---
<div class="site-content">
  <div class="site-content-top">
    <img
      src="/assets/vandermeer.png"
      srcSet="
        /assets/vandermeer@3x.png 3x,
        /assets/vandermeer@2x.png 2x,
        /assets/vandermeer.png 1x
      "
      title="vandermeer"
      alt="vandermeer"
    />
  </div>
  <div class="site-content-bottom">
    <div id="quoteElement">
      <noscript>
        <h1 class="quotes">
          <span>Passionate implementer of ideas for mobile and web.</span>
        </h1>
      </noscript>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ "/assets/vandermeer.js" | relative_url }}" charset="utf-8"></script>
