---
layout: default
---
<div class="site-content team">
  <section class="member">
    <div class="avatar">
      <img src="https://www.gravatar.com/avatar/140b2b276ea274ca36132a8962cd9de7?s=600" alt="Thomas Scharke"/>
    </div>
    <h1>{{ page.member }}</h1>
    <section class="details">
      <h2 class="main-role">{{ page.mainRole }}</h2>
      <h3 class="role">{{ page.role }}</h3>
      <aside>
        <ul>
          {%- for socialLink in page.social -%}
            {%- for linkData in socialLink -%}
              <li>
                <a title="{{ linkData[1].title }}" href="{{ linkData[1].url }}" target="_blank" class="{{ linkData[0] }}" rel="noopener noreferrer"></a>
              </li>
            {%- endfor -%}
            {%- endfor -%}
          </ul>
        </aside>
        <section class="experience">
          {%- for experience in page.experiences -%}
            <p>{{ experience }}</p>
          {%- endfor -%}
      </section>
      <div class="description">{{ page.description }}</div>
      <div class="contact">
        <a class="" href="mailto:{{ page.contact }}">{{ page.contact }}</a>
      </div>
    </section>
    <section class="skills">
      {{ content }}
    </section>
  </section>
</div>
